openapi: 3.2.0
info:
  title: Agentmesh Link Admin API
  version: 0.2.0
  description: 'Operations tagged Admin across 2 of this provider''s published API definitions: agentmesh-link-openapi.json, agentmesh-link-openapi.yml. Each path carries the servers of the definition it was published in.'
servers:
- url: https://app.agentmesh.link
  description: AgentMesh production host. The served spec declares no servers[]; this host is the one the provider publishes as "Base URL" in AGENTS.md, as the url of the A2A agent card and its onboarding block, and is the origin the spec itself is served from (https://app.agentmesh.link/openapi.json).
tags:
- name: Admin
paths:
  /v1/admin/keys:
    post:
      summary: Create Api Client
      operationId: create_api_client_v1_admin_keys_post
      parameters:
      - name: x-agent-key
        in: header
        required: false
        schema:
          type: string
          default: ''
          title: X-Agent-Key
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ApiClientCreate'
      responses:
        '201':
          description: Successful Response
          content:
            application/json:
              schema: {}
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      tags:
      - Admin
components:
  schemas:
    HTTPValidationError:
      properties:
        detail:
          items:
            $ref: '#/components/schemas/ValidationError'
          type: array
          title: Detail
      type: object
      title: HTTPValidationError
    ValidationError:
      properties:
        loc:
          items:
            anyOf:
            - type: string
            - type: integer
          type: array
          title: Location
        msg:
          type: string
          title: Message
        type:
          type: string
          title: Error Type
        input:
          title: Input
        ctx:
          type: object
          title: Context
      type: object
      required:
      - loc
      - msg
      - type
      title: ValidationError
    ApiClientCreate:
      properties:
        name:
          type: string
          maxLength: 120
          minLength: 1
          title: Name
        plan:
          type: string
          title: Plan
          default: free
      type: object
      required:
      - name
      title: ApiClientCreate
  securitySchemes:
    AgentKeyAuth:
      type: apiKey
      in: header
      name: X-Agent-Key
      description: AgentMesh agent API key. Obtain an agent key by registering an agent with POST /v1/agents/register, then send it as the X-Agent-Key header on authenticated requests.
x-refined-from:
- agentmesh-link-openapi.json
- agentmesh-link-openapi.yml
